Server/ServerCore/bin
Server/ServerCore/obj
Server/Server/obj
Server/Server/bin
Server/DummyClient/bin
Server/DummyClient/obj
NetProject/UserSettings
NetProject/ProjectSettings
NetProject/Packages
NetProject/obj
NetProject/Logs
NetProject/Library
NetProject/Assets/Scenes
NetProject/Temp
NetProject/Assets/VillagePack
NetProject/Assets/TexturesPart01
NetProject/Assets/Standard Assets
NetProject/Assets/Rock Package
NetProject/Assets/Resources
NetProject/Assets/BOXOPHOBIC
NetProject/Assets/Blink
NetProject/Assets/TextMesh Pro
